In [ ]:
#print statement

In [ ]:
print("HOPE AI")

HOPE AI

In [ ]:
#Buy Input

In [ ]:
Ins_Name = input("Enter Your Institure Name?:")
print("Enter Your Institure Name?:",Ins_Name)

Enter Your Institure Name?:HOPE AI
Enter Your Institure Name?: HOPE AI

In [ ]:
#Buy Inputs

In [ ]:
Name = input("Enter Your Name:")
Age = int(input("Enter Your Age:"))
S_Name = input("Enter Your School Name:")
Degree = input("Enter Your Degree:")
print()
print()
print("Enter Your Name:",Name)
print("Enter Your Age:",Age)
print("Enter Your School Name:",S_Name)
print("Enter Your Degree:",Degree)

Enter Your Name:Krishnaveni
Enter Your Age:36
Enter Your School Name:KRHS School
Enter Your Degree:MCA


Enter Your Name: Krishnaveni
Enter Your Age: 36
Enter Your School Name: KRHS School
Enter Your Degree: MCA

In [ ]:
#Addition

In [ ]:
a = 43
b = 34
print("a =",a)
print("b =",b)
print("add =",a+b)

a = 43
b = 34
add = 77

In [ ]:
#Subtraction

In [ ]:
a = 43
b = 34
print("a =",a)
print("b =",b)
print("Sub =",a-b)

a = 43
b = 34
Sub = 9

In [ ]:
#Multiplication

In [ ]:
a = 63
b = 97
print("a =",a)
print("b =",b)
print("Mul =",a*b)

a = 63
b = 97
Mul = 6111

In [ ]:
#Division

In [ ]:
a = 76
b = 31
print("a =",a)
print("b =",b)
print("Float Div =",a/b)

a = 76
b = 31
Float Div = 2.4516129032258065

In [ ]:
#Floor Division

In [ ]:
a = 76
b = 31
print("a =",a)
print("b =",b)
print("Floor Div =",a//b)

a = 76
b = 31
Floor Div = 2

In [ ]:
#Modulo

In [ ]:
a = 76
b = 31
print("a =",a)
print("b =",b)
print("Modulo =",a%b)

a = 76
b = 31
Modulo = 14

In [ ]:
#power

In [ ]:
a = 4
b = 4
print("a =",a)
print("b =",b)
print("Power =",pow(a,b))

a = 4
b = 4
Power = 256