In [ ]:
#print 0 to 20 by using range

In [ ]:
for i in range(0,20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print range 10 to 20

In [ ]:
for i in range(10,20):
  print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
#print the no of items in the list by using 'len'

In [ ]:
List = [10,20,14,55,43,87,76] #Name = 'Krishnaveni'
List_Len = len(List)
print("Number of items in the List:")
print(List_Len)

Number of items in the List:
7

In [ ]:
#Print a String Vertically

In [ ]:
Course_Name = 'Artificial Intelligence'
print(Course_Name)
for i in Course_Name:
  print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
#Print Name, Age, and Profession

In [ ]:
Y_Name = input("Enter Your Name: ")
Y_Age = int(input("Enter Your Age: "))
Y_Profession = input("Enter Your Profession: ")
print()
print("-Your Name- ",Y_Name)
print("-Your Age- ",Y_Age)
print("-Your Profession- ",Y_Profession)

Enter Your Name: Krishnaveni
Enter Your Age: 36
Enter Your Profession: MCA

-Your Name-  Krishnaveni
-Your Age-  36
-Your Profession-  MCA

In [ ]:
#Print the Mixed Data Type Tuple

In [ ]:
Tuple1 = (1,'Welcome',2,'Hope')
print("Printing the Mixed Data Type Using Tuple")
print(Tuple1)
#List2 = [1,'Welcome',2,'Hope']
#print(List2)

Printing the Mixed Data Type Using Tuple
(1, 'Welcome', 2, 'Hope')

In [ ]:
#Print the Multiple Tuples using Single Tuple

In [ ]:
Tuple1 = (0,1,2,3)
Tuple2 = ('python',"HOPE")
Tuple3 = (Tuple1,Tuple2)
print("Printing the Multiple Tuples using Single Tuple")
print(Tuple3)
#Listl1 = [0,1,2,3]
#Listl2 = ['python',"HOPE"]
#Listl3 = [Listl1,Listl2]
#print("Printing the Multiple Lists using Single List")
#print(Listl3)

Printing the Multiple Tuples using Single Tuple
((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
#print ODD numbers in the List

In [ ]:
O_List = [20,10,16,19,25,1,276,188]
for i in O_List:
  if(i%2==1):
    print(i,"is Odd Number")

19 is Odd Number
25 is Odd Number
1 is Odd Number

In [ ]:
#print EVEN number in the List

In [ ]:
E_List = [20,10,16,19,25,1,276,188]
for i in E_List:
  if(i%2==0):
    print(i,"is Even Number")

20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number